#root {
  position: absolute;
}

iframe#targetPage {
  width: 100vW !important;
  height: 100vH !important;
}

div#toolbar {
  display: flex;
  flex-direction: column;
  min-width: 100vW;
  background-color: #c6c6c6;
}
